@font-face {
  font-family: 'CBNU70Regular';
  src: url('./font/충북대70주년체 Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html, #root, * {
  font-family: 'CBNU70Regular', 'Pretendard', 'Noto Sans KR', Arial, sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
