/* 맵 + 오버레이 감싸는 컨테이너 */
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  background: transparent;
}

/* 맵 */
.map {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
}

